@media(max-width:1100.99px) {
    .nav {
        position: relative;
    }

    .nav__list {
        position: absolute;
        flex-direction: column;
        background: #F1F1F1;
        top: -460px;
        padding: 15px;
        gap: 25px;
        right: 0;
        transition: 2s;
        border-radius: 10px;
    }

    .nav__list-link {
        margin: 0;
        overflow: hidden;
        padding: 15px 50px;
        transition: 1s;
        display: inline-block;

    }

    .nav__list-link:hover {
        border: none;
        background: #E1E1E1;
        border-radius: 10px;
        font-size: 19px;
        width: 100%;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }


    .nav__menu-btn {
        display: flex;
    }

    .nav__menu:hover .nav__list {
        top: 20%;
        z-index: 10;
    }

    .nav__list2 {
        display: none;
    }

    /* ****************** */
    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header__content-items {
        margin-top: -20%;
        padding-right: 15px;
    }

    .header__content-flex img {
        padding-bottom: 30px;
    }

    .main__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }

    .main__card {
        width: 100%;
    }

    .article__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-bottom: 14px;
    }

    .article__card1,
    .article__card2 {
        width: 100%;

    }
    .article__card h2 {
        font-size: 16px;
    }

    .header__content-flex3 {
        padding-top: 20px;
        padding-left: 50px;
    }

    .main__card-price {
        padding-bottom: 20px;
    }

    .main__card-items {
        margin-top: -100px;
    }

    .article p {

        font-size: 20px;
        padding-bottom: 15px;
        padding-top: 30px;
    }
    .article p {
        font-size: 13px;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .footer__items,
    .social-networks {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .main__title {
        font-size: 24px;
    }
}

@media(max-width:767.99px) {
    

    .social-networks {
        grid-template: 30px;
    }

}

@media(max-width:575.99px) {
   
}

@media(max-width:319.99px) {
   

}