@import './component/reset.css';
@import './component/fonts.css';
@import './component/variables.css';
@import './component/header.css';
@import './component/main.css';
@import './component/article.css';
@import './component/footer.css';


body {
    background: #F1F1F1;
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1320px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}